<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Pictweet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf8">
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
  </head>
  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">PicTweet</a></h1>
        {% if user.is_authenticated %}
          <div class="user_nav grid-6">
            <a class="post" href="/tweets/new">投稿する</a>
            <form action="{% url 'users:logout' %}" method="post" class="post">
              {% csrf_token %}
              <button class="post">ログアウト</button>
            </form>
          </div>
        {% else %}
          <div class="user_nav grid-6">
            <a class="post" href="{% url 'users:signup' %}">新規登録</a>
            <a class="post" href="{% url 'users:login' %}">ログイン</a>
          </div>
        {% endif %}
      </div>
    </header>
    {% block main %}{% endblock %}
    <footer>
      <p>
        Copyright PicTweet 2023.
      </p>
    </footer>
  </body>
</html>
