{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="contents row">
  <div class="content_post" style="background-image: url({{tweet.image}});">
    {% if user.is_authenticated %}
      <div class="more">
        <span><img src="{% static 'tweets/images/arrow_top.png' %}" alt="arrow_top"></span>
        <ul class="more_list">
          <li>
            <a href="{% url 'tweets:edit' tweet.id %}">編集</a>
          </li>
          <li>
            <form action="{% url 'tweets:delete' tweet.id %}" method="post">
              {% csrf_token %}
              <button type="submit">削除</button>
            </form>
          </li>
        </ul>
      </div>
    {% endif %}
    <p>{{ tweet.text }}</p>
    <span class="name">{{ tweet.name }}</span>
  </div>
</div>
{% endblock %}
